/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	/* header starts here  */
	/* nav */
	.c_collapse ul li {
		margin: 10px 0;
	}
	.c_collapse ul li a {
		padding: 0;
	}
	/* nav */
	/* header ends here  */
	/* banner starts here  */
	#banner {
		padding: 50px 0;
	}
	/* banner content  */
	.banner_content img {
		max-width: 110px;
		margin-bottom: 10px;
	}
	.banner_head {
		font-size: 26px;
		line-height: 1.5;
	}
	.b_separator {
		margin: 20px 0 20px 2px;
	}
	.b_btn {
		margin-top: 15px;
	}
	/* banner form  */
	.banner_form {
		margin-top: 35px;
	}
	/* banner ends here  */
	/* social media starts here  */
	#s_media {
		padding: 20px 0;
	}
	.s_m_text {
		color: var(--secondary-color);
		margin-bottom: 15px;
	}
	.s_icon ul li a {
		font-size: 20px;
		color: #cccccc;
	}
	/* social media ends here  */
	/* tabs section starts here  */
	#tabs {
		padding: 50px 0 30px 0;
	}
	.tab_item {
		width: 100%;
		padding: 20px 0;
	}
	.common_heading {
		font-size: 16px;
		margin-top: 10px;
	}
	.common_text {
		margin: 25px 0;
	}
	.min_height {
		min-height: 300px;
	}
	.o_btn {
		width: 100%;
		margin-top: 0px;
	}
	.tab_img {
		margin-top: 40px;
	}
	/* tabs section ends here  */
	/* sublist section starts here  */
	#sub_list {
		padding: 30px 0 45px 0;
	}
	.s_list_img img {
		margin-top: 0px;
	}
	.sub_heading {
		margin-bottom: 13px;
	}
	.sub_text {
		margin: 20px 0;
		padding-right: 20px;
	}
	.s_l_circles {
		margin: 0 auto;
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.semi_text {
		margin: 10px 0 20px 0;
		padding: 0 10px;
	}
	/* sublist section starts here */
	/* standard picture section starts here  */
	#s_picture {
		padding: 30px 0 45px 0;
		background-color: #f5f5f5;
	}
	.s_p_heading {
		margin: 18px 0;
	}
	.s_p_text {
		margin: 25px 0;
	}
	.s_p_img {
		margin-top: 0px;
	}
	/* standard picture section ends here  */
	/* awesome section starts here */
	#awesome {
		padding: 50px 0 35px 0;
	}
	.a_heading {
		font-size: 24px;
		margin-bottom: 25px;
		line-height: 1.5;
	}
	.a_separator {
		background-color: var(--orange-color);
	}
	.a_text {
		margin: 20px 0;
		color: var(--primary-color);
	}
	/* awesome single items  */
	.a_contents {
		margin-top: 10px;
	}
	.a_contents:hover {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.a_contents .s_l_circles {
		width: 60px;
		height: 60px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.a_contents i {
		font-size: 24px;
		margin-top: 16px;
	}
	.a_contents h3 {
		margin-top: 20px;
	}
	.a_contents p {
		margin-top: 15px;
		margin-bottom: 10px;
	}
	/* awesome single items  */
	/* awesome section ends here */
	/* price section starts here  */
	#price {
		padding: 55px 0 45px 0;
		background-color: #f5f5f5;
	}
	.p_content {
		margin-bottom: 45px;
	}
	.p_text {
		padding-right: 0;
		margin: 30px 0 0 0;
	}
	/* single card item  */
	.p_card_content {
		margin-bottom: 15px;
	}
	.card_body {
		background-color: var(--secondary-color);
	}
	.card_sign {
		font-size: 30px;
	}
	.card_price {
		font-size: 80px;
	}
	.card_small {
		margin-bottom: 10px;
	}
	.margin-top {
		margin-top: 0px;
	}
	/* single card item  */
	/* price section starts here  */
	/* review section starts here */
	#review {
		padding: 55px 0 50px 0;
	}
	/* slider */
	.review_slider {
		margin-top: 40px;
	}
	.c_indicator {
		margin-bottom: -40px;
	}
	/* single review  */
	.single_review {
		margin: 5px 15px 15px;
	}
	.triangle {
		margin-left: 43%;
		margin-right: 43%;
		/* transform: translate(-50%, -50%); */
	}
	.r_img {
		margin: 0 auto;
	}
	.r_name {
		text-align: center;
	}
	/* single review  */
	/* review section ends here */
	/* stylish section starts here */
	#stylish {
		padding: 50px 0;
	}
	.stylish_content h1 {
		margin-top: 0;
	}
	.stylish_content .btn {
		margin-top: 30px;
	}
	/* stylish section ends here  */
	/* contact section starts here  */
	#contact {
		padding: 60px 0 50px 0;
	}
	/* contact form  */
	.contact_form {
		margin-top: 30px;
	}
	.form_textarea {
		padding: 15px 0 0 0;
		margin-bottom: 30px;
	}
	.form_textarea textarea {
		padding-left: 10px;
	}
	/* contact form  */
	/* contact section ends here */
	/* footer section starts here */
	#footer {
		padding: 15px 0;
	}
	.f_links ul li a {
		font-size: 16px;
		line-height: 1.2;
	}
	/* footer section ends here */
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	/* header starts here  */
	/* nav */
	.c_collapse ul li {
		margin: 10px 0;
	}
	.c_collapse ul li a {
		padding: 0;
	}
	/* nav */
	/* header ends here  */
	/* banner starts here  */
	#banner {
		padding: 50px 0;
	}
	/* banner content  */
	.banner_content img {
		max-width: 110px;
		margin-bottom: 10px;
	}
	.b_btn {
		margin-top: 10px;
		/* banner ends here  */
	}
	/* social media starts here  */
	#s_media {
		padding: 20px 0;
	}
	.s_media_content {
	}
	.s_m_text {
		color: var(--secondary-color);
		margin-bottom: 15px;
	}
	.s_icon ul li a {
		font-size: 28px;
		color: #cccccc;
	}
	/* social media ends here  */
	/* tabs section starts here  */
	#tabs {
		padding: 75px 0 40px 0;
	}
	.tab_item {
		width: 100%;
		padding: 25px 0;
	}
	.common_text {
		margin: 30px 0;
		color: var(--primary-color);
		line-height: 1.6;
	}
	.min_height {
		min-height: 240px;
	}
	.o_btn {
		margin-top: 0px;
	}
	.tab_img {
		margin-top: 35px;
		padding: 20px;
	}
	/* tabs section starts here  */
	/* sublist section starts here  */
	#sub_list {
		padding: 55px 0 70px 0;
	}
	.s_list_img img {
		margin-top: 0px;
	}
	.sub_text {
		margin: 20px 0 30px 0;
	}
	.s_l_circles {
		margin-bottom: 10px;
	}
	.semi_head {
		font-size: 16px;
		font-weight: 600;
	}
	.semi_text {
		margin: 15px 0 25px 0;
	}
	/* sublist section starts here */
	/* price section starts here  */
	#price {
		padding: 70px 0 60px 0;
		background-color: #f5f5f5;
	}
	.p_content {
		margin-bottom: 50px;
	}
	/* single card item  */
	.p_card_content {
		margin-top: 10px;
	}
	.card_price {
		font-size: 85px;
	}
	.card_small {
		margin-bottom: 10px;
	}
	.margin-top {
		margin-top: 0px;
	}
	/* single card item  */
	/* price section starts here  */
	/* review section starts here */
	#review {
		padding: 55px 0 45px 0;
	}
	/* slider */
	.review_slider {
		margin-top: 40px;
	}
	.c_indicator {
		margin-bottom: -40px;
	}
	/* single review  */
	.single_review {
		margin: 15px 20px 15px;
	}
	.triangle {
		margin-left: 45%;
		margin-right: 45%;
	}
	.r_img {
		margin: 0 auto;
	}
	.r_name {
		text-align: center;
	}
	/* single review  */
	/* review section ends here */
	/* footer section starts here */
	#footer {
		padding: 18px 0;
	}
	.f_links ul li a {
		font-size: 16px;
		line-height: 1.2;
	}
	/* footer section ends here */
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	/* header starts here  */
	/* nav */
	.c_collapse ul li {
		margin: 10px 0;
	}
	.c_collapse ul li a {
		padding: 0;
	}
	/* nav */
	/* header ends here  */
	/* banner starts here  */
	#banner {
		padding: 75px 0;
	}
	/* banner content  */
	.banner_content img {
		max-width: 110px;
		margin-bottom: 10px;
	}
	.b_btn {
		margin-top: 10px;
		/* banner ends here  */
	}
	/* social media starts here  */
	#s_media {
		padding: 20px 0;
	}
	.s_m_text {
		color: var(--secondary-color);
		margin-bottom: 15px;
	}
	.s_icon ul li {
		margin: 30px 0;
	}
	.s_icon ul li a {
		font-size: 32px;
		color: #cccccc;
	}
	/* social media ends here  */
	/* tabs section starts here  */
	#tabs {
		padding: 75px 0 40px 0;
	}
	.tab_item {
		width: 100%;
	}
	.tab_img {
		margin-top: 35px;
		padding: 40px 30px 20px;
	}
	.min_height {
		min-height: 280px;
	}
	/* tabs section starts here  */
	/* sublist section starts here  */
	#sub_list {
		padding: 45px 0 55px 0;
	}
	.s_list_img img {
		margin-top: 0px;
	}
	.sub_heading {
		margin-bottom: 15px;
	}
	.sub_text {
		margin: 18px 0;
		padding-right: 10px;
	}
	.s_l_circles {
		margin: 0 auto;
		margin-bottom: 15px;
		margin-top: 15px;
		margin-right: 35px;
	}
	.semi_text {
		margin: 10px 0 20px 0;
	}
	.s_list_img {
		margin-top: 120px;
	}
	/* sublist section starts here */
	/* standard picture section starts here  */
	#s_picture {
		padding: 45px 0 55px 0;
	}
	.s_p_heading {
		margin: 18px 0;
	}
	.s_p_text {
		margin: 25px 0;
	}
	.s_p_img {
		margin-top: 110px;
	}
	/* standard picture section ends here  */
	/* awesome section starts here */
	#awesome {
		padding: 50px 0 35px 0;
	}
	.a_heading {
		font-size: 28px;
		margin-bottom: 25px;
	}
	/* awesome single items  */
	.a_contents {
		margin-top: 20px;
		padding: 5px;
	}
	.a_contents:hover {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.a_contents h3 {
		font-size: 18px;
		margin-top: 15px;
	}
	.a_contents p {
		margin-top: 15px;
		margin-bottom: 10px;
	}
	/* awesome single items  */
	/* awesome section ends here */
	/* price section starts here  */
	#price {
		padding: 70px 0 60px 0;
	}
	.p_content {
		margin-bottom: 80px;
	}
	/* single card item  */
	.card_body h4 {
		font-size: 18px;
		margin: 15px 0;
	}
	.card_sign {
		font-size: 32px;
	}
	.card_price {
		font-size: 80px;
	}
	.card_small {
		margin-bottom: 10px;
	}
	.card_list li {
		padding: 15px 5px;
	}
	/* single card item  */
	/* price section starts here  */
	/* review section starts here */
	#review {
		padding: 65px 0 50px 0;
	}
	/* slider */
	.review_slider {
		margin-top: 40px;
	}
	.c_indicator {
		margin-bottom: -40px;
	}
	/* single review  */
	.single_review {
		margin: 15px 20px 15px;
	}
	.triangle {
		left: 15px;
	}
	.r_img {
		margin: 0 auto;
	}
	/* single review  */
	/* review section ends here */
	/* stylish section starts here */
	#stylish {
		padding: 70px 0;
	}
	.stylish_content h1 {
		margin-top: 0;
	}
	.stylish_content .btn {
		margin-top: 30px;
	}

	/* stylish section ends here  */
	/* contact section starts here  */
	#contact {
		padding: 75px 0 60px 0;
	}
	/* contact form  */
	.contact_form {
		margin-top: 50px;
	}
	.form_textarea {
		padding: 30px 0;
	}
	/* contact form  */
	/* contact section ends here */
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	/* tabs section starts  */
	.min_height {
		min-height: 330px;
	}
	/* tabs section starts  */
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
